.App-header {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header .cta {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.App-header .video {
  
}

.App-header .channel {
  color: #2E3440;
}

.App-header .channel .calling .ola {
  color:#BF616A;
}

.App-header .channel .name {
  font-size: larger;
  font-weight: bold;
}